<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.edu.scu.avgexample">

    <application
        android:name=".framework.KWAvgApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".MyScene2Activity"
            android:exported="false" />
        <activity
            android:name=".MyScene1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9964618295477835~2689386481" />

        <activity
            android:name=".sample.SampleSplashActivity"
            android:exported="true" />
        <activity android:name=".sample.SampleCopyrightActivity" />
        <activity android:name=".sample.SampleScene_1_Activity" />
        <activity android:name=".sample.SampleScene_2_Activity" />
        <activity android:name=".sample.SampleEndScene_1_Activity" />
        <activity android:name=".sample.SampleScene_3_Activity" />
        <activity android:name=".sample.SampleScene_4_Activity" />
        <activity android:name=".sample.SampleScene_5_Activity" />
        <activity android:name=".sample.SampleScene_6_Activity" />
        <activity android:name=".sample.SampleScene_7_Activity" />
        <activity android:name=".sample.SampleEndScene_2_Activity" />
        <activity android:name=".sample.SampleEndScene_3_Activity" />
        <activity android:name=".sample.SampleMenuSwitchSceneActivity" />
        <activity android:name=".sample.SampleMenuMainActivity" />
    </application>

</manifest>